body{
    padding-top: 120px;
}
.row img:hover{
    animation: scale 500ms ease-out forwards;
    -webkit-animation: scale 500ms ease-out forwards;
    -moz-animation: scale 500ms ease-out forwards;
    -ms-animation: scale 500ms ease-out forwards;
}
@keyframes  scale{
 from{transform: scale(1);}
 to{transform: scale(1.05);}
}
@-webkit-keyframes scale{
 from{transform: scale(1);}
 to{transform: scale(1.05);}
}
@-moz-keyframes scale{
 from{transform: scale(1);}
 to{transform: scale(1.05);}
}
@-ms-keyframes scale{
 from{transform: scale(1);}
 to{transform: scale(1.05);}
}
@media only screen and (min-width:768px) and (max-width:991px){
    body{
        padding-top: 170px;
    }
}
nav{
    position: relative;
    padding: 20px 0;
    .navbar-brand{padding: 0 20px;}
    .load_sign{
        position: absolute;
        button{
            background: #333;
            border: 1px solid #ddd;
            color: #21DEEF;
        }
        button:hover{
            background: #21DEEF; 
            color: #333;
        }
        @media only screen and (min-width:1200px) {
            right: 10%;top: 0.8em;
        }
        @media only screen and (min-width:992px) and (max-width:1199px){
            right: 6.5%;top: 0.8em;
        } 
        @media only screen and (min-width:768px) and (max-width:991px){
            right: 0;top: 0.8em;
        }
        @media only screen and (min-width:440px) and (max-width:767px) {
            right: 20%;top: 0.6em;
            
        }
         @media only screen and (max-width:439px) {
            display: none;
        }
    }
}
.content1{
    .search{
        width: 70%;
        margin-bottom: 30px;
    }
}
.thumbnail{
    overflow: hidden;
    .small-button{
        display: flex;
        p{width: 33%;text-align: center;}
        a{
            text-decoration: none;
        }
    }
}.row{
    .content-head{
        position: relative;
        border-bottom: 2px solid #333;
        margin-bottom: 20px;
       .look-more{
           position: absolute;right: 0;top: 15px;
           
       }
    }
}
.mp-bottom{
    padding: 50px;
    .col-lg-2 ul{
        list-style: none;
        li{
            text-align: center;
            line-height: 2em;
            a{color: #555;}
            a:hover{color: #ddd;}
        }
    }
    .col-lg-4{
        text-align: center;
        p{
            line-height: 2em;
            font-size: 2em;
            color: #afafaf;
        }
        img{margin: 10px;}
    }
    .select{
        list-style: none;
        li{
            margin: 20px 0;
            select{
                width: 150px;
            }
            a{color: #555;}
            a:hover{color: #ddd;}
        }
    }
}
footer{
    padding: 20px;
    text-align: center;
    line-height: 1.5em;
    color: #444;
}
